[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_3D0037001853584833373720-if00 #canbus_uuid: cc6f0fed1f3b
x_offset: 0                          
y_offset: 15                         
backlash_comp: 0.00870 #default 0.5  #CARTOGRAPHER_ESTIMATE_BACKLASHv
calibration_method: touch
sensor: cartographer
sensor_alt: carto
#scanner_touch_z_offset: 0.0037    #This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2

[bed_mesh]
zero_reference_position: 150, 150    
speed: 300
horizontal_move_z: 5
mesh_min: 20, 20
mesh_max: 280, 270
probe_count: 50, 50
algorithm: bicubic

##############
#non-cart spectific
##############

[safe_z_home]
home_xy_position: 150, 150
z_hop: 10

[idle_timeout]
timeout: 1800

[z_tilt]
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5
   
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0025

##############
#Input Shaper#
##############

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20
