[extruder]
max_temp: 305
min_extrude_temp: 170
min_temp: 0
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PE5
#sensor_type: ATC Semitec 104GT-2
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF0
full_steps_per_rotation: 200
rotation_distance: 22.85696
max_extrude_cross_section: 50.0
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0
#pressure_advance: 0.06
#pressure_advance_smooth_time: 0.040

[heater_fan nozzle_cooling_fan]
pin: PH5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

# Part Cooling Fan
[fan]
pin: PH3

[firmware_retraction]
retract_length: 0.5