#####################
#   Fan Control     #
# non-toolhead fans #
#####################

[controller_fan controller_fan]
## Fan2 - Electronics bay
pin: PF7
kick_start_time: 0.5
heater: heater_bed

[heater_fan bed_fans]
##  Fan3 - Bed fans
pin: PF9
#tachometer_pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0

[fan_generic bento_fan_1]
##  Fan0 - Bento Fan 1
pin: PB7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

[fan_generic bento_fan_2]
##  Fan0 - Bento Fan 2
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

